<div class="row">
    <div class="list-group patients-list">
        <a class="list-group-item no-hover" href="">
            <div class="item">
                <div class="image-wrapper pull-left">
                    <img ng-src="{{::vm.patient.picture}}" alt="{{::vm.patient.name }}">
                </div>
                <div class="content-wrapper pull-left">
                    <div class="name">{{::vm.patient.name}}</div>
                    <div class="description">{{::vm.patient.latestDiagnosis.name}}</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </a>
        <div class="clearfix"></div>
    </div>
</div>

<div class="row docs-wrapper">
    <div class="col-md-5">
        <h3 class="docs-list-title" ng-show="vm.privateFiles.files.length> 0">Informes privados</h3>
        <h3 class="docs-list-title" ng-show="!vm.privateFiles.files.length">Aún no hay informes privados</h3>
        <button class="add-report-button" ui-sref="main.newPrivateReport({folderId: vm.folderId})">Agregar</button>
        <div class="list-group patients-list" ng-show="vm.privateFiles.files.length > 0">
            <a class="list-group-item no-hover" ng-repeat="file in vm.privateFiles.files track by $index" ui-sref="main.editPrivateReport({fileId: file.id})">
                <div class="item file-item">
                    <div class="name">{{file.name}}</div>
                    <div class="last-modified">Ultima modificación {{file.modifiedTime | date:"dd/MM/yyyy"}} por {{file.lastModifyingUser.displayName}}</div>
                    <div class="created-at">Creado el {{file.createdTime | date:"dd/MM/yyyy"}}</div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <h3 class="docs-list-title" ng-show="vm.sharedFiles.files.length > 0">Informes compartidos</h3>
        <h3 class="docs-list-title" ng-show="!vm.sharedFiles.files.length">Aún no hay informes compartidos</h3>
        <button class="add-report-button" ui-sref="main.newSharedReport({folderId: vm.folderId})">Agregar</button>
        <div class="list-group patients-list" ng-show="vm.sharedFiles.files.length > 0">
            <a class="list-group-item no-hover" ng-repeat="file in vm.sharedFiles.files track by $index" ui-sref="main.editSharedReport({fileId: file.id})">
                <div class="item file-item">
                    <div class="name">{{file.name}}</div>
                    <div class="last-modified">Ultima modificación {{file.modifiedTime | date:"dd/MM/yyyy"}} por {{file.lastModifyingUser.displayName}}</div>
                    <div class="created-at">Creado el {{file.createdTime | date:"dd/MM/yyyy"}}</div>
                    <div class="clearfix"></div>
                </div>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
