<div class="navmenu navmenu-default navmenu-fixed-left">
    <a class="navmenu-brand" href="#">TraCS</a>
    <ul class="nav navmenu-nav">
        <li ui-sref="main.patients">
            <img src="images/patients.png" alt="Mis pacientes">
            <a href="">Mis pacientes</a>
        </li>
    </ul>
</div>

<div class="canvas">
    <div class="navbar navbar-default navbar-fixed-top">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Título almacenado en el $rootScope para que cualquier vista pueda cambiarlo -->
        <span class="navbar-brand">{{pageTitle}}</span>
    </div>

    <div class="container">
        <ui-view></ui-view>
    </div>
</div>
